<script>
    function FilteringOptions(status, assignedTo, category, search, advancedSearch, sortBy, descSort)
    {
        this.Status = status;
        if (assignedTo != null)
            this.AssignedToID = assignedTo.Id;
        if (category != null)
            this.CategoryID = category.Id;
        this.Search = search;
        this.AdvancedSearch = advancedSearch;
        this.SortBy = sortBy;
        this.DescSort = descSort;
    }

    function TicketsViewModel()
    {
        var self = this;

        self.tickets = ko.observableArray([]);

        self.statuses = ["All", "New", "In progress", "Solved", "Closed"];
        self.administrators = ko.observableArray([{ Id: '1d60419b-53b0-42a1-8640-e005d5c7f7a6', Name: 'Kamil Dzierlęga' }]);
        self.categories = ko.observableArray([{ Id: 1, Name: 'SampleName' }]);
        
        self.status = ko.observable("All");
        self.assignedTo = ko.observable();
        self.category = ko.observable();
        self.search = ko.observable();
        self.advancedSearch = ko.observable(false);

        self.sortBy = ko.observable("Title");
        self.descSort = ko.observable(true);

        self.getTickets = function()
        {
            $.ajax("/api/ApiTickets",
            {
                type: "GET",
                data: new FilteringOptions
                (
                    status = self.status(),
                    assignedTo = self.assignedTo(),
                    category = self.category(),
                    search = self.search(),
                    advancedSearch = self.advancedSearch(),
                    sortBy = self.sortBy(),
                    descSort = self.descSort()
                ),
                success: function(data)
                {
                    self.tickets(data.Tickets);
                    console.log('tickets received');
                }
            });
        };

        self.sort = function(data, event)
        {
            var sortBy = event.target.textContent;
            if (self.sortBy() === sortBy)
                self.descSort(!self.descSort());
            else
                self.sortBy(sortBy);
            self.getTickets();
        };

        self.getSortSymbol = ko.computed(function()
        {
            if (self.descSort())
                return "\u25BC";
            else
                return "\u25B2";
        });

        self.getTickets();
    }

    function formatDate(ticks)
    {
        function padZero(value)
        {
            return value < 10 ? "0" + value : value;
        }

        var date = new Date(Number(ticks));
        var year = date.getFullYear();
        var month = padZero(date.getMonth() + 1);
        var day = padZero(date.getDate());
        var hours = padZero(date.getHours());
        var minutes = padZero(date.getMinutes());
        var seconds = padZero(date.getSeconds());
        return year + "-" + month  + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
    }

    $(document).ready(function()
    {
        ko.applyBindings(new TicketsViewModel());
    });    
</script>

@{
    AppUserManager userManager = HttpContext.Current.GetOwinContext().GetUserManager<AppUserManager>();
    string currentUserId = User.Identity.GetUserId();
    bool isCurrentUserAdmin = false;
    if (User.Identity.IsAuthenticated && userManager.IsInRole(currentUserId, "Admin"))
    {
        isCurrentUserAdmin = true;
    }
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tickets";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @(TempData["Success"])
    </div>
}

@if (TempData["Fail"] != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @(TempData["Fail"])
    </div>
}

<header>
    <div class="container">
        <h1>List of tickets</h1>
        <hr />

        <div class="row">
            @if (isCurrentUserAdmin)
            {
                <div class="form-group col-sm-6 col-md-3">
                    <label class="control-label">Status</label>
                    <select data-bind="options: statuses, value: status, event: { change: getTickets }" class="form-control"></select>
                </div>

                <div class="form-group col-sm-6 col-md-3">
                    <label class="control-label">Assigned to</label>
                    <select data-bind="options: administrators, value: assignedTo, optionsCaption: 'All', optionsText: 'Name', event: { change: getTickets }" class="form-control"></select>
                </div>

                <div class="form-group col-sm-6 col-md-3">
                    <label class="control-label">Category</label>
                    <select data-bind="options: categories, value: category, optionsCaption: 'All', optionsText: 'Name', event: { change: getTickets }" class="form-control"></select>
                </div>
            }

            <div class='@(isCurrentUserAdmin ? "form-group col-sm-6 col-md-3" : "form-group col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4")'>
                <label class="control-label">Search</label>
                <div class="input-with-button">
                    <input data-bind="value: search" class="form-control" />
                    <button data-bind="click: getTickets" class="btn btn-default btn-search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="checkbox">
                    <label class="control-label">
                        <input data-bind="value: advancedSearch, event: { change: function() { advancedSearch(!advancedSearch()); } }" type="checkbox" />
                        Also search in content and solution
                    </label>
                </div>
            </div>
        </div>  
    </div>                                    
</header>

<section class="container">
    <h3 data-bind="visible: tickets().length === 0">No tickets found...</h3>

    <table data-bind="visible: tickets().length != 0" class="table">
        <thead>
            <tr>
                <th style="min-width: 150px;">
                    <a href="#" data-bind="click: sort">Created on</a>
                    <span data-bind="text: getSortSymbol, visible: sortBy() === 'Created on'"></span>
                </th>
                <th class="hidden-xs hidden-sm" style="min-width: 150px;">
                    <a href="#" data-bind="click: sort">Requested by</a>
                    <span data-bind="text: getSortSymbol, visible: sortBy() === 'Requested by'"></span>
                </th>
                <th class="title-header" style="width: 100%">
                    <a href="#" data-bind="click: sort">Title</a>
                    <span data-bind="text: getSortSymbol, visible: sortBy() === 'Title'"></span>
                </th>
                <th class="hidden-xs hidden-sm" style="min-width: 150px;">
                    <a href="#" data-bind="click: sort">Category</a>
                    <span data-bind="text: getSortSymbol, visible: sortBy() === 'Category'"></span>
                </th>
                <th style="min-width: 100px;">
                    <a href="#" data-bind="click: sort">Status</a>
                    <span data-bind="text: getSortSymbol, visible: sortBy() === 'Status'"></span>
                </th>
                <th class="hidden-xs hidden-sm hidden-md hidden-lg" style="min-width: 150px;">
                    <a href="#" data-bind="click: sort">Assigned to</a>
                    <span data-bind="text: getSortSymbol, visible: sortBy() === 'Assigned to'"></span>
                </th>
                @if (isCurrentUserAdmin)
                {
                    <th class="btn-col" style="text-align: center">
                        Quick actions
                    </th>
                }
            </tr>
        </thead>
            
        <tbody data-bind="foreach: tickets">
            <tr @*onclick='document.location.href="@Url.Action("Edit", new { id = item.TicketID })"'*@>
                <td data-bind="text: formatDate(CreatedOn)"></td>
                <td data-bind="text: RequestedBy" class="hidden-xs hidden-sm"></td>
                <td data-bind="text: Title"></td>
                <td data-bind="text: Category" class="hidden-xs hidden-sm"></td>
                <td data-bind="text: Status"></td>
                <td class="hidden-xs hidden-sm hidden-md hidden-lg">
                    @*@(item.AssignedTo != null ? $"{item.AssignedTo.FirstName} {@item.AssignedTo.LastName}" : "-")*@
                </td>
                @if (isCurrentUserAdmin)
                {
                    <td>
                        @*<button class="assign-user-btn btn btn-xs btn-blue" data-ticket-id="@item.TicketID" data-ticket-title="@item.Title">Assign</button>
                        <button class="solve-ticket-btn btn btn-xs btn-blue" data-ticket-id="@item.TicketID" data-ticket-title="@item.Title">Solve</button>
                        <button class="close-ticket-btn btn btn-xs btn-blue" data-ticket-id="@item.TicketID" data-ticket-title="@item.Title">Close</button>*@
                    </td>
                }
            </tr>
        </tbody>
    </table>

        @*@Html.PagedListPager(Model.Tickets, page => @Url.Action("Index", new
        {
            Page = page,
            SortBy = Model.SortBy,
            DescSort = Model.DescSort,
            Search = Model.Search,
            Status = Model.Status,
            Category = Model.CategoryID,
            AssignedTo = Model.AssignedToID,
            AdvancedSearch = Model.AdvancedSearch
        }), PagedListRenderOptions.Classic)*@
    @*}*@
</section>

@*@if (isCurrentUserAdmin)
{
    @Html.Partial("_AssignUserPartial", Model.Admins)
    @Html.Partial("_SolveTicketPartial", Model.Admins)
    @Html.Partial("_CloseTicketPartial")
}


<script>
    $(document).ready(function()
    {
        $("#Status").change(function() { $("#Page").val("1"); $("#filtering-form").submit(); });
        $("#AssignedToID").change(function() { $("#Page").val("1"); $("#filtering-form").submit(); });
        $("#CategoryID").change(function() { $("#Page").val("1"); $("#filtering-form").submit(); });
        $("#search-btn").click(function() { $("#Page").val("1"); });

        var statuses = document.getElementsByClassName("status");
        for (var i = 0; i < statuses.length; i++)
        {
            switch (statuses[i].textContent)
            {
                case "New":
                    statuses[i].className += " status-new";
                    break;
                case "In progress":
                    statuses[i].className += " status-in-progress";
                    break;
                case "Solved":
                    statuses[i].className += " status-solved";
                    break;
                case "Closed":
                    statuses[i].className += " status-closed";
                    break;
            }
        }
    });

    function sort(value)
    {
        if ($("#SortBy").val() == value)
        {
            $("#DescSort").val($("#DescSort").val().toLowerCase() == "true" ? "false" : "true");
        }
        else
        {
            $("#SortBy").val(value);
            $("#DescSort").val("true");
        }
        $("#filtering-form").submit();
    }
</script>*@