@model HelpDesk.Models.TicketsCreateViewModel

@{
    ViewBag.Title = "New ticket";
}

<header>
    <div class="container">
        <h1>Add new ticket</h1>
    </div>
</header>

<section class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.LabelFor(model => model.RequestedByID, new { @class = "control-label col-md-offset-1 col-md-2" })
                <div class="col-md-6 input-with-button">
                    @Html.HiddenFor(model => model.RequestedByID)
                    <input id="change-requestor-inp" value='@(Model.RequestedBy != null ? $"{Model.RequestedBy.FirstName} {Model.RequestedBy.LastName} ({Model.RequestedBy.Email})" : "-")' class="form-control" disabled="disabled" />
                    <button id="change-requestor-btn" type="button" class="btn btn-default btn-search" data-ticket-title="new">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    @Html.ValidationMessageFor(model => model.RequestedByID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryID, new { @class = "control-label col-md-offset-1 col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(
                        expression: model => model.CategoryID,
                        selectList: new SelectList(Model.Categories.Select(c => new { CategoryID = c.CategoryID, Name = c.Name }), "CategoryID", "Name"),
                        optionLabel: "-",
                        htmlAttributes: new { @class = "form-control" }
                    )
                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group wide-form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-offset-1 col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group wide-form-group">
                @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-offset-1 col-md-2" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Content, 7, 10, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <input type="submit" value="Create" class="btn btn-blue" />
                </div>
            </div>
        </div>
    }
</section>

@Html.Partial("_ChangeRequestorPartial")
