@using PagedList.Mvc;
@model HelpDesk.Models.TicketsIndexViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Tickets";
}

<style>
    .full-width-container {
        background-color: #F5EECD; 
        padding: 30px 0;
    }
    .full-width-container h1 {
        text-align: center; 
        margin: 0;
    }
    .full-width-container hr {
        border-color: #E3D179; 
        margin-top: 20px; 
        margin-bottom: 30px; 
        border-top-left-radius: 200px 1px; 
        border-top-right-radius: 200px 1px;
    }
    .full-width-container input[type=reset] {
        margin-top: 25px;
        width: 71px;
    }
    .full-width-container .filter-form-group {
        width: 280px;
        margin-right: 7px;
    }
    .full-width-container input[type=submit] {
        clear: both;
        margin-left: 7px;
    }
    .full-width-container p {
        clear: both;
        font-size: 0.8em;
        width: 358px;
    }
    .full-width-container p > input {
        vertical-align: text-bottom;
    }
    table {
        margin-top: 60px;
    }
    tr:hover:not(:first-child) {
        background-color: #F5EECD;
        cursor: pointer;
        outline: 1px solid #E3D179;
    }
    .btn-delete {
        display: inline-block; 
        background-color: red; 
        color: white; 
        border-radius: 6px; 
        margin-left: 5px; 
        width: 25px; 
        height: 25px; 
        line-height: 25px; 
        text-align: center; 
        font-weight: bold; 
        font-size: 2em; 
        vertical-align: middle; 
    }
</style>

<div class="full-width-container">
    <div class="container">
        <h1>List of tickets</h1>
        <hr />

        @using (Html.BeginForm("Index", "Tickets", FormMethod.Get, new { id = "filtering-form" }))
        {
            @Html.HiddenFor(model => model.SortBy)
            @Html.HiddenFor(model => model.DescSort)
            @Html.Hidden("Page", 1)

            <input type="reset" value="Clear" class="btn btn-warning pull-right" />

            <div class="filter-form-group form-group pull-right">
                @Html.LabelFor(model => model.Category)
                @Html.DropDownListFor(
                     expression: model => model.Category,
                     selectList: new SelectListItem[] { new SelectListItem { Value = "0", Text = "All" } }.Concat(Model.Categories),
                     htmlAttributes: new { @class = "form-control" }
                 )
            </div>

            <div class="filter-form-group form-group pull-right">
                @Html.LabelFor(model => model.AssignedTo)
                @Html.DropDownListFor(
                     expression: model => model.AssignedTo,
                     selectList: new SelectListItem[] { new SelectListItem { Value = "0", Text = "Any" } }.Concat(Model.Admins),
                     htmlAttributes: new { @class = "form-control" }
                 )
            </div>

            <div class="filter-form-group form-group pull-right">
                @Html.LabelFor(model => model.Status)
                @Html.DropDownListFor(
                     expression: model => model.Status,
                     selectList: new SelectList(new[] { "All", "New", "In progress", "Solved", "Closed" }),
                     htmlAttributes: new { @class = "form-control" }
                 )
            </div>

            <input type="submit" value="Search" class="btn btn-warning pull-right" />
            @Html.TextBoxFor(model => model.Search, new { @class = "form-control pull-right" })
            <p class="pull-right">
                @Html.CheckBoxFor(model => model.AdvancedSearch)
                Also search in content and solution
            </p>            
        }
    </div>     
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.SortableHeader("CreatedOn", "Created on")
            </th>
            <th>
                @Html.SortableHeader("RequestedBy", "Requested by")
            </th>
            <th style="width: 25%">
                @Html.SortableHeader("Title")
            </th>
            <th>
                @Html.SortableHeader("Category")
            </th>
            <th>
                @Html.SortableHeader("Status")
            </th>
            <th>
                @Html.SortableHeader("AssignedTo", "Assigned to")
            </th>
            <th style="width: 240px">
            </th>
        </tr>

        @foreach(var item in Model.Tickets)
        {
            <tr onclick='document.location.href="@Url.Action("Edit", new { id = item.TicketID })"'>
                <td>
                    @item.CreateDate.ToString()
                </td>
                <td>
                    @(item.RequestedBy != null ? $"{item.RequestedBy.FirstName} {@item.RequestedBy.LastName}" : "-")
                </td>
                <td>
                    @Html.MarkSearchedString(item.Title, Model.Search)
                </td>
                <td>
                    @item.Category.Name
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @(item.AssignedTo != null ? $"{item.AssignedTo.FirstName} {@item.AssignedTo.LastName}" : "-")
                </td>
                <td>
                    <button class="btn-assign btn btn-warning btn-sm" data-ticket-id="@item.TicketID">Assign</button>
                    <button class="btn-solve btn btn-warning btn-sm" data-ticket-id="@item.TicketID">Solve</button>
                    <button class="btn-close btn btn-warning btn-sm" data-ticket-id="@item.TicketID">Close</button>
                    <div class="btn-delete" data-ticket-id="@item.TicketID" data-ticket-title="@item.Title">&times;</div>
                </td>
            </tr>
        }
    </table>

    @Html.PagedListPager(Model.Tickets, page => @Url.Action("Index", new
    {
        Page = page,
        SortBy = Model.SortBy,
        DescSort = Model.DescSort,
        Search = Model.Search,
        Status = Model.Status,
        Category = Model.Category,
        AssignedTo = Model.AssignedTo,
        AdvancedSearch = Model.AdvancedSearch
    }), PagedListRenderOptions.Classic)

</div>

@Html.Partial("_AssignPersonPartial", Model.Admins)
@Html.Partial("_SolveTicketPartial", Model.Admins)
@Html.Partial("_CloseTicketPartial")
@Html.Partial("_DeleteTicketPartial")


<script>
    $(document).ready(function()
    {
        $("#Status").change(function() { $("#filtering-form").submit(); });
        $("#AssignedTo").change(function() { $("#filtering-form").submit(); });
        $("#Category").change(function() { $("#filtering-form").submit(); });
    });

    function sort(value)
    {
        if ($("#SortBy").val() == value)
        {
            $("#DescSort").val($("#DescSort").val().toLowerCase() == "true" ? "false" : "true");
        }
        else
        {
            $("#SortBy").val(value);
            $("#DescSort").val("true");
        }
        $("#filtering-form").submit();
    }
</script>