@using HelpDesk.UI.Infrastructure;

@model HelpDesk.UI.ViewModels.Users.ChangePasswordViewModel

@{
    ViewBag.Title = "User details";
    IdentityHelper identityHelper = new IdentityHelper();
}

<header style="margin: 0;">
    <div class="container">
        <h1>User details</h1>
    </div>
</header>



<section class="container" style="padding: 0;">
    <style>
        @@media (min-width: 768px) {
            .details-panel {
                background-color: #F5F5F5;
                box-shadow: gray 0 0 10px;
                border-radius: 5px;
                padding: 30px 0;
            }
        }
        @@media (max-width: 767px) {
            .details-panel {
                padding: 0 !important;
            }
        }        
    </style>

    <ul class="horizontal-menu">
        <li><a href='@Url.Action("Edit", new { id = Model.UserId })'>Personal information</a></li>
        <li class="selected"><a href='@Url.Action("ChangePassword", new { id = Model.UserId })'>Change password</a></li>
        <li><a href='@Url.Action("Tickets", new { id = Model.UserId })'>Tickets</a></li>
        <li><a href='@Url.Action("History", new { id = Model.UserId })'>History</a></li>
    </ul>
</section>
<section class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal details-panel col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8" style="padding: 15px 0; padding-top: 30px;">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label col-sm-3" })
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-sm-3" })
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-sm-3" })
                <div class="col-sm-8">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-8">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</section>