@model HelpDesk.UI.ViewModels.Users.HistoryViewModel

@{
    ViewBag.Title = "User details";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<nav class="container horizontal-menu hidden-xs">
    @Html.ActionLink("Personal information", "Edit", new { id = Model.UserId })
    @Html.ActionLink("Change password", "ChangePassword", new { id = Model.UserId })
    @Html.ActionLink("Tickets", "Tickets", new { id = Model.UserId })
    @Html.ActionLink("History", "History", new { id = Model.UserId }, new { @class = "selected" })
</nav>

<nav class="container btn-group horizontal-menu-xs visible-xs">
    <a href="@Url.Action("Edit", new { id = Model.UserId })" class="btn btn-primary glyphicon glyphicon-pencil"></a>
    <a href="@Url.Action("ChangePassword", new { id = Model.UserId })" class="btn btn-primary glyphicon glyphicon-lock"></a>
    <a href="@Url.Action("Tickets", new { id = Model.UserId })" class="btn btn-primary glyphicon glyphicon-list"></a>
    <a href="@Url.Action("History", new { id = Model.UserId })" class="btn btn-primary glyphicon glyphicon-time active"></a>
</nav>

<main class="container">
    <div class="well">
        @foreach (var log in Model.Logs)
        {
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <b>@log.Date.ToString()</b>
                </div>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    User changed @log.Column of ticket @Html.ActionLink("#" + log.TicketId.ToString(), "Edit", "Tickets", new { id = log.TicketId }, null) to <span class="new-value">"@log.NewValue"</span>
                </div>
            </div>
        }        
    </div>
</main>
