@model HelpDesk.UI.ViewModels.Users.TicketsViewModel

@{
    ViewBag.Title = "User's tickets";
    IdentityHelper identityHelper = new IdentityHelper();
}

<header>
    <h1>User details</h1>
</header>

<nav class="container horizontal-menu hidden-xs">
    @Html.ActionLink("Personal information", "Edit", new { id = Model.UserId })
    @Html.ActionLink("Change password", "ChangePassword", new { id = Model.UserId })
    @Html.ActionLink("Tickets", "Tickets", new { id = Model.UserId }, new { @class = "selected" })
    @Html.ActionLink("History", "History", new { id = Model.UserId })
</nav>

<nav class="container btn-group horizontal-menu-xs visible-xs">
    <a href="@Url.Action("Edit", new { id = Model.UserId })" class="btn btn-primary glyphicon glyphicon-pencil"></a>
    <a href="@Url.Action("ChangePassword", new { id = Model.UserId })" class="btn btn-primary glyphicon glyphicon-lock"></a>
    <a href="@Url.Action("Tickets", new { id = Model.UserId })" class="btn btn-primary glyphicon glyphicon-list active"></a>
    <a href="@Url.Action("History", new { id = Model.UserId })" class="btn btn-primary glyphicon glyphicon-time"></a>
</nav>

<div ng-app="HelpDesk" ng-controller="UsersTicketsList">
    <main class="container">
        <h3 ng-show="!tickets || tickets.length === 0">No tickets found...</h3>

        <div ng-show="tickets && tickets.length > 0">
            <ul ng-show="pages.length > 1" class="pagination pull-left">
                <li>
                    <a ng-click="changePageAndGetTickets(1)" href="#">&laquo;</a>
                </li>

                <li ng-repeat="x in pages" ng-class="{ 'active': x === filters.pageNumber }" *@>
                    <a ng-click="changePageAndGetTickets(x)" href="#">{{ x }}</a>
                </li>

                <li>
                    <a ng-click="changePageAndGetTickets(numberOfPages)" href="#">&raquo;</a>
                </li>
            </ul>

            <div class="tickets-list">
                <div class="well" ng-repeat="x in tickets" ng-click="goToTicketDetails(x.TicketId)">
                    <div class="hidden-xs">
                        <p class="text-gray">#{{ x.TicketId }}</p>
                        <p ng-class="{ 'color-status-new': x.Status === 'New', 'color-status-in-progress': x.Status === 'In progress', 'color-status-solved': x.Status === 'Solved', 'color-status-closed': x.Status === 'Closed' }">{{ x.Status }}</p>
                    </div>

                    <div>
                        <p ng-bind-html="x.Title"></p>
                        <p><span class="text-gray">Date:</span> <span ng-bind-html="x.CreateDate"></span></p>
                        <p>
                            <span class="text-gray">User:</span>
                            <span>
                                <a ng-show="x.RequesterName" ng-click="goToUserDetails($event, x.RequesterId)" ng-bind-html="x.RequesterName"></a>
                                <span ng-show="!x.RequesterName">-</span>
                            </span>
                        </p>
                        <p><span class="text-gray">Category:</span> <span>{{ x.Category || '-' }}</span></p>
                        <p class="visible-xs">
                            <span class="text-gray">Status:</span>
                            <span ng-class="{ 'color-status-new': x.Status == 'New', 'color-status-in-progress': x.Status == 'In progress', 'color-status-solved': x.Status == 'Solved', 'color-status-closed': x.Status == 'Closed' }">{{ x.Status }}</span>
                        </p>
                    </div>

                    @if (identityHelper.IsCurrentUserAnAdministrator())
                    {
                        <div class="hidden-xs">
                            <button title="Close ticket" ng-click="closeTicket($event, x)" class="btn btn-sm btn-inverse pull-right"><span class="glyphicon glyphicon-remove"></span></button>
                            <button title="Solve ticket" ng-click="solveTicket($event, x)" class="btn btn-sm btn-success pull-right"><span class="glyphicon glyphicon-ok"></span></button>
                            <button title="Assign administrator to ticket" ng-click="assignUser($event, x)" class="btn btn-sm btn-primary pull-right">+<span class="glyphicon glyphicon-user"></span></button>
                        </div>
                    }
                </div>
            </div>

            <ul ng-show="pages.length > 1" class="pagination pull-left">
                <li>
                    <a ng-click="changePageAndGetTickets(1)" href="#">&laquo;</a>
                </li>

                <li ng-repeat="x in pages" ng-class="{ 'active': x === filters.pageNumber }" *@>
                    <a ng-click="changePageAndGetTickets(x)" href="#">{{ x }}</a>
                </li>

                <li>
                    <a ng-click="changePageAndGetTickets(numberOfPages)" href="#">&raquo;</a>
                </li>
            </ul>

            <p class="pull-right result-info">Page {{ filters.pageNumber }} of {{ numberOfPages }} ({{ foundItemsCount }} item<span ng-show="foundItemsCount > 1">s</span> found of {{ totalItemsCount }} total)</p>
        </div>
    </main>

    @if (identityHelper.IsCurrentUserAnAdministrator())
    {
        <div id="assign-user-dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Assign administrator to ticket</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Administrator</label>
                            <select ng-model="currentUserId" ng-options="x.UserId as x.Name for x in administrators" class="form-control"></select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button ng-click="assignUser($event, x)" data-dismiss="modal" class="btn btn-primary">Ok</button><button data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="solve-ticket-dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Solve ticket</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Administrator</label>
                            <select ng-model="currentUserId" ng-options="x.UserId as x.Name for x in administrators" class="form-control"></select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Solution</label>
                            <textarea ng-model="solution" cols="10" rows="7" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" ng-click="solveTicket($event, x)" class="btn btn-primary">Ok</button><button data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="close-ticket-dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Close ticket</h4>
                    </div>

                    <div class="modal-body">
                        Are you sure you want to close ticket?
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" ng-click="closeTicket($event, x)" class="btn btn-primary">Yes</button><button data-dismiss="modal" class="btn btn-default">No</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    angular.module('HelpDesk').controller('UsersTicketsList', function($scope, $http)
    {
        $scope.tickets = [];
        $scope.administrators = @Html.Raw(Json.Encode(@Model.Administrators));
        $scope.numberOfPages = 0;
        $scope.foundItemsCount = 0;
        $scope.totalItemsCount = 0;
        $scope.currentTicketId = 0;
        $scope.currentUserId = '@identityHelper.CurrentUser.Id';
        $scope.solution = '';

        $scope.filters =
        {
            pageNumber: 1
        };

        $scope.computePages = function()
        {
            var pages = [];

            var leftBound = $scope.filters.pageNumber - 2;
            var rightBound = $scope.filters.pageNumber + 2;
            while (leftBound < 1)
            {
                leftBound++;
                rightBound++;
            }
            while (rightBound > $scope.numberOfPages)
            {
                rightBound--;
                if (leftBound > 1)
                    leftBound--;
            }
            for (var i = leftBound; i <= rightBound; i++)
                pages.push(i);

            return pages;
        };

        $scope.getTickets = function()
        {
            var data =
            {
                userId: '@Model.UserId',
                status: null,
                assignedToId: null,
                categoryId: null,
                search: null,
                advancedSearch: false,
                sortBy: 'Date',
                descSort: true,
                page: $scope.filters.pageNumber
            };

            var onSuccess = function(response)
            {
                if (response.NumberOfPages != 0 && $scope.filters.pageNumber > response.NumberOfPages)
                    $scope.changePageAndGetTickets(response.NumberOfPages);
                else
                {
                    $scope.tickets = response.Tickets;
                    $scope.numberOfPages = response.NumberOfPages;
                    $scope.foundItemsCount = response.FoundItemsCount;
                    $scope.totalItemsCount = response.TotalItemsCount;

                    $scope.pages = $scope.computePages();
                }
            };

            sendAjaxRequest('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Tickets" })', 'GET', data, onSuccess, $http);
        };

        $scope.changePageAndGetTickets = function(pageNumber)
        {
            $scope.filters.pageNumber = pageNumber;
            $scope.getTickets();
        };
        
        $scope.goToTicketDetails = function(id)
        {
            document.location.href = '@Url.Action("Edit", "Tickets")/' + id;
        };

        $scope.goToUserDetails = function(event, id)
        {
            event.stopPropagation();
            document.location.href = '@Url.Action("Edit", "Users")/' + id;
        };

        $scope.assignUser = function(event, ticket)
        {
            if (!$('#assign-user-dialog').is(':visible'))
            {
                event.stopPropagation();
                $scope.currentTicketId = ticket.TicketId;
                $('#assign-user-dialog').modal('show');
            }
            else
            {
                var data =
                {
                    ticketId: $scope.currentTicketId,
                    userId: $scope.currentUserId
                };

                var onSuccess = function()
                {
                    $scope.getTickets();
                }

                sendAjaxRequest('@Url.Action("AssignUserToTicket", "Tickets")', "POST", data, onSuccess, $http);
            }
        };

        $scope.solveTicket = function(event, ticket)
        {
            if (!$('#solve-ticket-dialog').is(':visible'))
            {
                event.stopPropagation();
                $scope.currentTicketId = ticket.TicketId;
                $scope.solution = ticket.Solution;
                $('#solve-ticket-dialog').modal('show');
            }
            else
            {
                var data =
                {
                    ticketId: $scope.currentTicketId,
                    userId: $scope.currentUserId,
                    solution: $scope.solution
                };

                var onSuccess = function()
                {
                    $scope.getTickets();
                }

                sendAjaxRequest('@Url.Action("SolveTicket", "Tickets")', "POST", data, onSuccess, $http);
            }
        };

        $scope.closeTicket = function(event, ticket)
        {
            if (!$('#close-ticket-dialog').is(':visible'))
            {
                event.stopPropagation();
                $scope.currentTicketId = ticket.TicketId;
                $('#close-ticket-dialog').modal('show');
            }
            else
            {
                var data =
                {
                    ticketId: $scope.currentTicketId
                };

                var onSuccess = function()
                {
                    $scope.getTickets();
                }

                sendAjaxRequest('@Url.Action("CloseTicket", "Tickets")', "POST", data, onSuccess, $http);
            }
        };

        $scope.getTickets();
    });
</script>
