@{
    HelpDesk.UI.Infrastructure.IdentityHelper identityHelper = new HelpDesk.UI.Infrastructure.IdentityHelper();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Help Desk</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/knockout-sortable.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="~/Scripts/Common.js"></script>  
    
    <script>
        var logOutAutomaticallyFromCookie = getCookie('logOutAutomatically');

        function LayoutViewModel()
        {
            var self = this;

            self.logOutAutomatically = ko.observable(logOutAutomaticallyFromCookie === 'no' ? false : true);
            self.secondsToAutomaticLogOut = ko.observable(600);

            self.timeToAutomaticLogOut = ko.computed(function()
            {
                var minutes = Math.floor(self.secondsToAutomaticLogOut() / 60);
                var seconds = padZero(self.secondsToAutomaticLogOut() % 60);
                return minutes + ':' + seconds;
            });

            self.countdown = function()
            {
                if (self.secondsToAutomaticLogOut() > 0)
                {
                    self.secondsToAutomaticLogOut(self.secondsToAutomaticLogOut() - 1);
                    setTimeout(self.countdown, 1000);
                }
                else
                    document.location.href = '/Account/LogOut';
            };

            if (self.logOutAutomatically())
                self.countdown();
        }

        $(document).ready(function()
        {
            @if (TempData["Success"] != null)
            {
                @: displayNewSuccessMessage('@(TempData["Success"])');
            }
            @if (TempData["Fail"] != null)
            {
                @: displayNewFailMessage('@(TempData["Fail"])');
            }

            $(window).scroll(function() { moveMessagesToTopUnderNavBar(); });

            layoutViewModel = new LayoutViewModel();
            ko.applyBindings(layoutViewModel, document.getElementById('navbar'));
        });
    </script>  
</head>
<body class="background-gray">
    <div id="navbar" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Help Desk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (identityHelper.IsCurrentUserAnAdministrator())
                    {
                        <li class='@(ViewBag.Title == "New user" ? "active" : null)'>@Html.ActionLink("New user", "Create", "Users")</li>
                        <li class='@(ViewBag.Title == "Users" ? "active" : null)'>@Html.ActionLink("Users", "Index", "Users")</li>
                    }
                    <li class='@(ViewBag.Title == "New ticket" ? "active" : null)'>@Html.ActionLink("New ticket", "Create", "Tickets")</li>
                    <li class='@(ViewBag.Title == "Tickets" ? "active" : null)'>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                    <li class='@(ViewBag.Title == "Settings" ? "active" : null)'>@Html.ActionLink("Settings", "Index", "Settings")</li>                    
                </ul>
                    
                @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    
                    <p class="navbar-text pull-right" style="margin-right: 0;">
                        <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
                        <!--ko if: logOutAutomatically -->
                        (<b data-bind="text: timeToAutomaticLogOut, css: { 'text-danger': secondsToAutomaticLogOut() < 60 }"></b> <span data-bind="click: function() { secondsToAutomaticLogOut(600); }" class="glyphicon glyphicon-refresh"></span>)
                        <!-- /ko -->
                    </p>

                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href="@Url.Action("Edit", "Users", new { id = identityHelper.CurrentUser.Id })"><span class="glyphicon glyphicon-user"></span> @identityHelper.CurrentUser.FirstName @identityHelper.CurrentUser.LastName</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <div id="progressIndicator">
        <img src="~/Content/images/AjaxLoader.gif" width="100" height="100" />
    </div>

    <div id="messages">
    </div>

    <div id="viewContent">
        @RenderBody()
    </div>
        
    @Html.Action("Footer", "Layout")    
</body>
</html>