@using HelpDesk.UI.Infrastructure;

@{
    IdentityHelper identityHelper = new IdentityHelper();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Help Desk</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/knockout-sortable.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
</head>
<body>
@if (User.Identity.IsAuthenticated)
{
    <div class="navbar navbar-inverse">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="navbar-header">
                @Html.ActionLink("Help Desk", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
        }
        else
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Help Desk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (identityHelper.IsCurrentUserAnAdministrator())
                        {
                            <li class='@(ViewBag.Title == "New user" ? "active" : null)'>@Html.ActionLink("New user", "Create", "Users")</li>
                            <li class='@(ViewBag.Title == "Users" ? "active" : null)'>@Html.ActionLink("Users", "Index", "Users")</li>
                        }
                        <li class='@(ViewBag.Title == "New ticket" ? "active" : null)'>@Html.ActionLink("New ticket", "Create", "Tickets")</li>
                        <li class='@(ViewBag.Title == "Tickets" ? "active" : null)'>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                        <li class='@(ViewBag.Title == "Settings" ? "active" : null)'>@Html.ActionLink("Settings", "Index", "Settings")</li>                    
                    </ul>
                    
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink(identityHelper.CurrentUser.FirstName + " " + identityHelper.CurrentUser.LastName, "Edit", "Users", new { id = identityHelper.CurrentUser.Id }, null)
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    }
                </div>
            </div>
        }
    </div>
}

    <div id="messages">
    </div>

    <script>
        $(document).ready(function()
        {
            @if (TempData["Success"] != null)
            {
                @: displayNewSuccessMessage("@(TempData["Success"])");
            }
            @if (TempData["Fail"] != null)
            {
                @: displayNewFailMessage("@(TempData["Fail"])");
            }
        });

        function displayNewSuccessMessage(message)
        {
            var messages = document.getElementById("messages");

            var a = document.createElement("a");
            a.setAttribute("href", "#");
            a.setAttribute("aria-label", "close");
            a.className = "close";
            a.setAttribute("onclick", "$(this.parentElement).hide('slow'); ");
            a.innerHTML = "&times";
            
            var span = document.createElement("span");
            span.className = "glyphicon glyphicon-info-sign";

            var span2 = document.createElement("span");
            span2.textContent = " " + message;
            
            var div = document.createElement("div");
            div.className = "alert alert-success";
            
            div.appendChild(a);
            div.appendChild(span);
            div.appendChild(span2);

            messages.appendChild(div);
            $(div).show("slow");

            setTimeout(function() { $(div).hide("slow") }, 10000);
        }

        function displayNewFailMessage(message)
        {
            var messages = document.getElementById("messages");

            var a = document.createElement("a");
            a.setAttribute("href", "#");
            a.setAttribute("aria-label", "close");
            a.className = "close";
            a.setAttribute("onclick", "$(this.parentElement).hide('slow'); ");
            a.innerHTML = "&times";

            var span = document.createElement("span");
            span.className = "glyphicon glyphicon-exclamation-sign";

            var span2 = document.createElement("span");
            span2.textContent = " " + message;

            var div = document.createElement("div");
            div.className = "alert alert-danger";

            div.appendChild(a);
            div.appendChild(span);
            div.appendChild(span2);

            messages.appendChild(div);
            $(div).show("slow");

            setTimeout(function() { $(div).hide("slow") }, 10000);
        } 
    </script>

    @RenderBody()
        
    @Html.Partial("_Footer")
</body>
</html>