<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Help Desk</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    @*<script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>*@
    @*<script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/Common.js"></script>
    
    <script>
        $(document).ready(function()
        {
            @if (TempData["Success"] != null)
            {
                @: displayNewSuccessMessage('@(TempData["Success"])');
            }
            @if (TempData["Fail"] != null)
            {
                @: displayNewFailMessage('@(TempData["Fail"])');
            }
        });
    </script>  
</head>

<body class="background-blue-gradient">
    <div id="messages" style="top: 0">
    </div>

    @RenderBody()
        
    @Html.Action("Footer", "Layout")
</body>
</html>