@model HelpDesk.UI.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="panel panel-default login-panel">
    <div class="panel-heading">
        <h4 class="modal-title">Log in to Help Desk</h4>
    </div>

    @using (Html.BeginForm("Login", "Account", new { Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="panel-footer text-right">
            <input type="submit" value="Log in" class="btn btn-primary" />
        </div>
    }
</div>