@{
    ViewBag.Title = "Delete";
}

<h2>View</h2>

<h3>Are you sure you want to delete this ticket?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requestor.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requestor.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solver.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solver.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolveOrCloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolveOrCloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
