@model HelpDesk.UI.ViewModels.Tickets.HistoryViewModel

@{
    ViewBag.Title = "Ticket's history";
}

<header>
    <h1>Ticket details</h1>
</header>

<nav class="container horizontal-menu hidden-xs">
    @Html.ActionLink("Details", "Edit", new { id = Model.TicketId })
    @Html.ActionLink("History", "History", new { id = Model.TicketId }, new { @class = "selected" })
</nav>

<nav class="tickets-menu container btn-group horizontal-menu-xs visible-xs">
    <a href="@Url.Action("Edit", new { id = Model.TicketId })" class="btn btn-primary glyphicon glyphicon-pencil"></a>
    <a href="@Url.Action("History", new { id = Model.TicketId })" class="btn btn-primary glyphicon glyphicon-time active"></a>
</nav>

<main class="container">
    <div class="well">
        @foreach (var log in Model.Logs)
        {
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <b>@log.Date.ToString()</b>
                </div>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    User
                    @if (log.AuthorName != null)
                    {
                        @Html.ActionLink(log.AuthorName, "Edit", "Users", new { id = log.AuthorId }, null)
                    }
                    else
                    {
                        <span style="color: gray">deleted user</span>
                    }
                    changed @log.Column to <span class="new-value">"@log.NewValue"</span>
                </div>
            </div>
        }
    </div>
</main>
