@model HelpDesk.UI.ViewModels.Tickets.IndexViewModel

@{
    ViewBag.Title = "Tickets";
    IdentityHelper identityHelper = new IdentityHelper();
}

<div ng-controller="TicketsList">
    <header>
        <h1>List of tickets</h1>

        <div class="container">
            <hr />
            <div class="row">
                @if (identityHelper.IsCurrentUserAnAdministrator())
                {
                    <div class="form-group col-sm-6 col-md-3">
                        <label class="control-label">Status</label>
                        <select ng-model="filters.status" ng-options="x for x in statuses" class="form-control">
                            <option value="">All</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6 col-md-3">
                        <label class="control-label">Assigned to</label>
                        <select ng-model="filters.assignedUserId" ng-options="x.UserId as x.Name for x in administrators" class="form-control">
                            <option value="">All</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-6 col-md-3">
                        <label class="control-label">Category</label>
                        <select ng-model="filters.categoryId" ng-options="x.CategoryId as x.Name for x in categories" class="form-control">
                            <option value="">All</option>
                        </select>
                    </div>
                }

                <div class='@(identityHelper.IsCurrentUserAnAdministrator() ? "form-group col-sm-6 col-md-3" : "form-group col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4")'>
                    <label class="control-label">Search</label>

                    <div class="input-group">
                        <input id="search" ng-model="filters.searchString" ng-keypress="searchTicketsWhenEnterKeyPressed($event)" class="form-control" />
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-click="searchTicketsAndFocusTheInput()"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>

                    <label class="radio-inline"><input ng-model="filters.searchAllWords" value="false" name="searchAllWords" type="radio">Any word</label>
                    <label class="radio-inline"><input ng-model="filters.searchAllWords" value="true" name="searchAllWords" type="radio">All words</label>

                    <div class="checkbox">
                        <label class="control-label">
                            <input ng-model="filters.advancedSearch" type="checkbox" />
                            Also search in content and solution
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <h3 ng-show="!tickets || tickets.length === 0">No tickets found...</h3>

        <div ng-show="tickets && tickets.length > 0">
            <ul ng-show="pages.length > 1" class="pagination pull-left"> 
                <li>
                    <a ng-click="changePageAndGetTickets(1)" href="#">&laquo;</a>
                </li>

                <li ng-repeat="x in pages" ng-class="{ 'active': x === filters.pageNumber }"*@>
                    <a ng-click="changePageAndGetTickets(x)" href="#">{{ x }}</a>
                </li>

                <li>
                    <a ng-click="changePageAndGetTickets(numberOfPages)" href="#">&raquo;</a>
                </li>
            </ul>

            <div class="form-inline pull-right sort-by">
                <label class="control-label">Sort by</label>
                <div class="input-group">
                    <select ng-model="filters.sortBy" ng-options="x for x in sortingOptions" class="form-control"></select>
                    <div class="input-group-btn">
                        <button ng-click="toggleSortingOrder()" class="btn btn-default"><span class="glyphicon" ng-class="filters.descendingSort ? 'glyphicon-sort-by-attributes-alt' : 'glyphicon-sort-by-attributes'"></span></button>
                    </div>
                </div>
            </div>

            <div class="tickets-list">
                <div class="well" ng-repeat="x in tickets" ng-click="goToTicketDetails(x.TicketId)">
                    <div class="hidden-xs">
                        <p class="text-gray">#{{ x.TicketId }}</p>
                        <p ng-class="{ 'color-status-new': x.Status === 'New', 'color-status-in-progress': x.Status === 'In progress', 'color-status-solved': x.Status === 'Solved', 'color-status-closed': x.Status === 'Closed' }">{{ x.Status }}</p>
                    </div>

                    <div>
                        <p ng-bind-html="markSearchString(x.Title)"></p>
                        <p><span class="text-gray">Date:</span> <span ng-bind-html="markSearchString(x.CreateDate)"></span></p>
                        <p>
                            <span class="text-gray">User:</span>
                            <span>
                                <a ng-show="x.RequesterName" ng-click="goToUserDetails($event, x.RequesterId)" ng-bind-html="markSearchString(x.RequesterName)"></a>
                                <span ng-show="!x.RequesterName">-</span>
                            </span>
                        </p>
                        <p><span class="text-gray">Category:</span> <span>{{ x.Category || '-' }}</span></p>
                        <p class="visible-xs">
                            <span class="text-gray">Status:</span>
                            <span ng-class="{ 'color-status-new': x.Status == 'New', 'color-status-in-progress': x.Status == 'In progress', 'color-status-solved': x.Status == 'Solved', 'color-status-closed': x.Status == 'Closed' }">{{ x.Status }}</span>
                        </p>
                    </div>

                    @if (identityHelper.IsCurrentUserAnAdministrator())
                    {
                        <div class="hidden-xs">
                            <button title="Close ticket" ng-click="closeTicket($event, x)" class="btn btn-sm btn-inverse pull-right"><span class="glyphicon glyphicon-remove"></span></button>
                            <button title="Solve ticket" ng-click="solveTicket($event, x)" class="btn btn-sm btn-success pull-right"><span class="glyphicon glyphicon-ok"></span></button>
                            <button title="Assign administrator to ticket" ng-click="assignUser($event, x)" class="btn btn-sm btn-primary pull-right">+<span class="glyphicon glyphicon-user"></span></button>
                        </div>
                    }
                </div>
            </div>

            <ul ng-show="pages.length > 1" class="pagination pull-left">
                <li>
                    <a ng-click="changePageAndGetTickets(1)" href="#">&laquo;</a>
                </li>

                <li ng-repeat="x in pages" ng-class="{ 'active': x === filters.pageNumber }" *@>
                    <a ng-click="changePageAndGetTickets(x)" href="#">{{ x }}</a>
                </li>

                <li>
                    <a ng-click="changePageAndGetTickets(numberOfPages)" href="#">&raquo;</a>
                </li>
            </ul>

            <p class="pull-right result-info">Page {{ filters.pageNumber }} of {{ numberOfPages }} ({{ foundItemsCount }} item<span ng-show="foundItemsCount > 1">s</span> found of {{ totalItemsCount }} total)</p>
        </div>
    </main>

    @if (identityHelper.IsCurrentUserAnAdministrator())
    {
        <div id="assign-user-dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Assign administrator to ticket</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Administrator</label>
                            <select ng-model="currentUserId" ng-options="x.UserId as x.Name for x in administrators" class="form-control"></select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button ng-click="assignUser($event, x)" data-dismiss="modal" class="btn btn-primary">Ok</button><button data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="solve-ticket-dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Solve ticket</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Administrator</label>
                            <select ng-model="currentUserId" ng-options="x.UserId as x.Name for x in administrators" class="form-control"></select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Solution</label>
                            <textarea ng-model="solution" cols="10" rows="7" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" ng-click="solveTicket($event, x)" class="btn btn-primary">Ok</button><button data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="close-ticket-dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Close ticket</h4>
                    </div>

                    <div class="modal-body">
                        Are you sure you want to close ticket?
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" ng-click="closeTicket($event, x)" class="btn btn-primary">Yes</button><button data-dismiss="modal" class="btn btn-default">No</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    var filtersFromCookie = JSON.parse(getCookie('ticketsFilters_@identityHelper.CurrentUser.Id'));

    angular.module('HelpDesk').controller('TicketsList', function($scope, $http, $timeout, timer)
    {
        $scope.tickets = [];
        $scope.statuses = ['New', 'In progress', 'Solved', 'Closed'];
        $scope.administrators = @Html.Raw(Json.Encode(@Model.Administrators));
        $scope.categories = @Html.Raw(Json.Encode(@Model.Categories));
        $scope.sortingOptions = ["Date", "User", "Title", "Category", "Status"];
        $scope.numberOfPages = 0;
        $scope.foundItemsCount = 0;
        $scope.totalItemsCount = 0;
        $scope.currentTicketId = 0;
        $scope.currentUserId = '@identityHelper.CurrentUser.Id';
        $scope.solution = '';

        $scope.filters =
        {
            status: filtersFromCookie ? filtersFromCookie.status : $scope.statuses[0],
            assignedUserId: filtersFromCookie ? filtersFromCookie.assignedToId : '0',
            categoryId: filtersFromCookie ? filtersFromCookie.categoryId : '0',
            searchString: filtersFromCookie ? filtersFromCookie.search : '',
            searchAllWords: filtersFromCookie ? filtersFromCookie.searchAllWords : 'false',
            advancedSearch: filtersFromCookie ? filtersFromCookie.advancedSearch : false,
            sortBy: filtersFromCookie ? filtersFromCookie.sortBy : 'Date',
            descendingSort: filtersFromCookie ? filtersFromCookie.descSort : true,
            pageNumber: 1
        };

        $scope.$watch('filters.status', function(newValue, oldValue)
        {
            if (newValue !== oldValue)
            {
                $scope.changePageAndGetTickets(1);
            }
        });

        $scope.$watch('filters.assignedUserId', function(newValue, oldValue)
        {
            if (newValue !== oldValue)
            {
                $scope.changePageAndGetTickets(1);
            }
        });

        $scope.$watch('filters.categoryId', function(newValue, oldValue)
        {
            if (newValue !== oldValue)
            {
                $scope.changePageAndGetTickets(1);
            }
        });

        var searchStringTimeout;
        $scope.$watch('filters.searchString', function(newValue, oldValue)
        {
            if (newValue !== oldValue)
            {
                $timeout.cancel(searchStringTimeout);
                searchStringTimeout = $timeout(function()
                {
                    $scope.changePageAndGetTickets(1);
                }, 500);
            }
        });

        $scope.$watch('filters.searchAllWords', function(newValue, oldValue)
        {
            if (newValue !== oldValue)
            {
                if (removeExcessSpaces($scope.filters.searchString))
                    $scope.changePageAndGetTickets(1);
            }
        });

        $scope.$watch('filters.advancedSearch', function(newValue, oldValue)
        {
            if (newValue !== oldValue)
            {
                if (removeExcessSpaces($scope.filters.searchString))
                    $scope.changePageAndGetTickets(1);
            }
        });

        $scope.$watch('filters.sortBy', function(newValue, oldValue)
        {
            if (newValue !== oldValue)
            {
                $scope.changePageAndGetTickets(1);
            }
        });

        $scope.$watch('filters.descendingSort', function(newValue, oldValue)
        {
            if (newValue !== oldValue)
            {
                $scope.changePageAndGetTickets(1);
            }
        });

        $scope.markSearchString = function(text)
        {
            var searchString = removeExcessSpaces($scope.filters.searchString);
            if (searchString && text)
            {
                var words = searchString.split(' ');
                return mark(text, words);
            }
            else
                return text;
        };

        $scope.computePages = function()
        {
            var pages = [];

            var leftBound = $scope.filters.pageNumber - 2;
            var rightBound = $scope.filters.pageNumber + 2;
            while (leftBound < 1)
            {
                leftBound++;
                rightBound++;
            }
            while (rightBound > $scope.numberOfPages)
            {
                rightBound--;
                if (leftBound > 1)
                    leftBound--;
            }
            for (var i = leftBound; i <= rightBound; i++)
                pages.push(i);

            return pages;
        };

        $scope.getTickets = function()
        {
            var data =
            {
                status: $scope.filters.status,
                assignedToId: $scope.filters.assignedUserId,
                categoryId: $scope.filters.categoryId,
                search: removeExcessSpaces($scope.filters.searchString),
                searchAllWords: $scope.filters.searchAllWords,
                advancedSearch: $scope.filters.advancedSearch,
                sortBy: $scope.filters.sortBy,
                descSort: $scope.filters.descendingSort,
                page: $scope.filters.pageNumber
            };

            var onSuccess = function(response)
            {
                if (response.NumberOfPages != 0 && $scope.filters.pageNumber > response.NumberOfPages)
                    $scope.changePageAndGetTickets(response.NumberOfPages);
                else
                {
                    $scope.tickets = response.Tickets;
                    $scope.numberOfPages = response.NumberOfPages;
                    $scope.foundItemsCount = response.FoundItemsCount;
                    $scope.totalItemsCount = response.TotalItemsCount;

                    $scope.pages = $scope.computePages();
                }
                setCookie('ticketsFilters_@identityHelper.CurrentUser.Id', JSON.stringify(data));
            };

            sendAjaxRequest('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Tickets" })', 'GET', data, onSuccess, $http, timer);
        };

        $scope.changePageAndGetTickets = function(pageNumber)
        {
            $scope.filters.pageNumber = pageNumber;
            $scope.getTickets();
        };

        $scope.searchTicketsWhenEnterKeyPressed = function(event)
        {
            if (event.keyCode === 13 || event.which === 13)
                $scope.changePageAndGetTickets(1);
        };

        $scope.searchTicketsAndFocusTheInput = function(event)
        {
            $scope.changePageAndGetTickets(1);
            $('#search').focus();
        };

        $scope.toggleSortingOrder = function()
        {
            $scope.filters.descendingSort = !$scope.filters.descendingSort;
        };

        $scope.goToTicketDetails = function(id)
        {
            document.location.href = '@Url.Action("Edit", "Tickets")/' + id;
        };

        $scope.goToUserDetails = function(event, id)
        {
            event.stopPropagation();
            document.location.href = '@Url.Action("Edit", "Users")/' + id;
        };

        $scope.assignUser = function(event, ticket)
        {
            if (!$('#assign-user-dialog').is(':visible'))
            {
                event.stopPropagation();
                $scope.currentTicketId = ticket.TicketId;
                $('#assign-user-dialog').modal('show');
            }
            else
            {
                var data =
                {
                    ticketId: $scope.currentTicketId,
                    userId: $scope.currentUserId
                };

                var onSuccess = function()
                {
                    $scope.getTickets();
                }

                sendAjaxRequest('@Url.Action("AssignUserToTicket", "Tickets")', "POST", data, onSuccess, $http, timer);
            }
        };

        $scope.solveTicket = function(event, ticket)
        {
            if (!$('#solve-ticket-dialog').is(':visible'))
            {
                event.stopPropagation();
                $scope.currentTicketId = ticket.TicketId;
                $scope.solution = ticket.Solution;
                $('#solve-ticket-dialog').modal('show');
            }
            else
            {
                var data =
                {
                    ticketId: $scope.currentTicketId,
                    userId: $scope.currentUserId,
                    solution: $scope.solution
                };

                var onSuccess = function()
                {
                    $scope.getTickets();
                }

                sendAjaxRequest('@Url.Action("SolveTicket", "Tickets")', "POST", data, onSuccess, $http, timer);
            }
        };

        $scope.closeTicket = function(event, ticket)
        {
            if (!$('#close-ticket-dialog').is(':visible'))
            {
                event.stopPropagation();
                $scope.currentTicketId = ticket.TicketId;
                $('#close-ticket-dialog').modal('show');
            }
            else
            {
                var data =
                {
                    ticketId: $scope.currentTicketId
                };

                var onSuccess = function()
                {
                    $scope.getTickets();
                }

                sendAjaxRequest('@Url.Action("CloseTicket", "Tickets")', "POST", data, onSuccess, $http, timer);
            }
        };

        $scope.getTickets();
    });
</script>