@model HelpDesk.Models.UsersHistoryViewModel

@{
    ViewBag.Title = "User details";
}

@{
    AppUserManager userManager = HttpContext.Current.GetOwinContext().GetUserManager<AppUserManager>();
    string currentUserId = User.Identity.GetUserId();
    bool isCurrentUserAdmin = false;
    if (User.Identity.IsAuthenticated && userManager.IsInRole(currentUserId, "Admin"))
    {
        isCurrentUserAdmin = true;
    }
}

<header style="margin: 0;">
    <div class="container">
        <h1>User details</h1>
    </div>
</header>



<section class="container" style="padding: 0;">
    <style>
        @@media (min-width: 768px) {
            .details-panel {
                background-color: #F5F5F5;
                box-shadow: gray 0 0 10px;
                border-radius: 5px;
                padding: 30px 0;
            }
            }
        @@media (max-width: 767px) {
            .details-panel {
                padding: 0 !important;
            }
        }        
    </style>

    <ul class="horizontal-menu">
        <li><a href='@Url.Action("Edit", new { id = Model.UserID })'>Personal information</a></li>
        <li><a href='@Url.Action("ChangePassword", new { id = Model.UserID })'>Change password</a></li>
        <li><a href='@Url.Action("Tickets", new { id = Model.UserID })'>Tickets</a></li>
        <li class="selected"><a href='@Url.Action("History", new { id = Model.UserID })'>History</a></li>
    </ul>
</section>
<section class="container">
    <div class="details-panel" style="padding: 15px 15px;  padding-top: 25px;">
        @*<div class="text-center">
            <p style="display: inline-block; margin-bottom: 20px; padding: 0 40px 10px; border-bottom: 1px solid #999; border-bottom-left-radius: 100px 1px; border-bottom-right-radius: 100px 1px;">
                <b>View history of changes of @Model.FirstName @Model.LastName account</b>
            </p>
        </div>*@
        <div style="font-family: Courier;">
            @foreach (var log in Model.Logs)
            {
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <b>@log.Date.ToString()</b>
                    </div>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        @log.Content
                    </div>
                </div>
            }
        </div>
    </div>          
</section>

@Html.Partial("_DeleteUserPartial")