@model IEnumerable<HelpDesk.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<p>
    @Html.ActionLink("Add New", "Create", "Users", null, new { @class = "btn btn-warning btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.SortableTableColumnHeader("First name", "FirstName", (string)ViewBag.sortBy, (bool)ViewBag.descSort)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Last name", "LastName", (string)ViewBag.sortBy, (bool)ViewBag.descSort)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Email", "Email", (string)ViewBag.sortBy, (bool)ViewBag.descSort)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Phone", "Phone", (string)ViewBag.sortBy, (bool)ViewBag.descSort)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Mobile phone", "MobilePhone", (string)ViewBag.sortBy, (bool)ViewBag.descSort)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Company", "Company", (string)ViewBag.sortBy, (bool)ViewBag.descSort)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Department", "Department", (string)ViewBag.sortBy, (bool)ViewBag.descSort)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Role", "Role", (string)ViewBag.sortBy, (bool)ViewBag.descSort)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            <a href='@Url.Action("Index", "Tickets")' class='btn btn-warning btn-sm'>Tickets <span class="badge">7</span></a>
            @Html.ActionLink("Edit", "Edit", "Users", new { id=item.UserId }, new { @class = "btn btn-warning btn-sm" })
            @Html.ActionLink("Delete", "Delete", "Users", new { id = item.UserId }, new { @class = "btn btn-warning btn-sm" })
        </td>
    </tr>
}

</table>
