@using PagedList.Mvc;
@model HelpDesk.Models.UsersIndexViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<div style="overflow:  auto; margin-bottom: 10px;">
    @Html.ActionLink("Add New", "Create", "Users", null, new { @class = "btn btn-warning pull-left" })
    
    @using (Html.BeginForm("Index", "Users", FormMethod.Get))
    {
        @Html.Hidden("sortBy", Model.SortBy)
        @Html.Hidden("descSort", Model.DescSort)
        <input type="submit" value="Search" class="btn btn-warning pull-right" />
        <span class="pull-right">&nbsp;</span>
        @Html.TextBox("search", Model.Search, new { @class = "form-control pull-right" })
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.SortableTableColumnHeader("First name", "FirstName", Model.SortBy, Model.DescSort, Model.Search, Model.Page)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Last name", "LastName", Model.SortBy, Model.DescSort, Model.Search, Model.Page)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Email", "Email", Model.SortBy, Model.DescSort, Model.Search, Model.Page)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Phone", "Phone", Model.SortBy, Model.DescSort, Model.Search, Model.Page)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Mobile phone", "MobilePhone", Model.SortBy, Model.DescSort, Model.Search, Model.Page)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Company", "Company", Model.SortBy, Model.DescSort, Model.Search, Model.Page)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Department", "Department", Model.SortBy, Model.DescSort, Model.Search, Model.Page)
        </th>
        <th>
            @Html.SortableTableColumnHeader("Role", "Role", Model.SortBy, Model.DescSort, Model.Search, Model.Page)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Users) {
    <tr>
        <td>
            @Html.MarkSearchedString(item.FirstName, Model.Search)
        </td>
        <td>
            @Html.MarkSearchedString(item.LastName, Model.Search)
        </td>
        <td>
            @Html.MarkSearchedString(item.Email, Model.Search)
        </td>
        <td>
            @Html.MarkSearchedString(item.Phone, Model.Search)
        </td>
        <td>
            @Html.MarkSearchedString(item.MobilePhone, Model.Search)
        </td>
        <td>
            @Html.MarkSearchedString(item.Company, Model.Search)
        </td>
        <td>
            @Html.MarkSearchedString(item.Department, Model.Search)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            <a href='@Url.Action("Index", "Tickets")' class='btn btn-warning btn-sm'>Tickets <span class="badge">7</span></a>
            @Html.ActionLink("Edit", "Edit", "Users", new { id=item.UserID }, new { @class = "btn btn-warning btn-sm" })
            @Html.ActionLink("Delete", "Delete", "Users", new { id = item.UserID }, new { @class = "btn btn-warning btn-sm" })
        </td>
    </tr>
}

</table>


@Html.PagedListPager(Model.Users, page => @Url.Action("Index", new { Page = page, sortBy = Model.SortBy, descSort = Model.DescSort, search = Model.Search }), PagedListRenderOptions.Classic)